## _Medical Insurance Costs_

Pada kasus ini, terdapat data tentang informasi kesehatan dan biaya yang harus dikeluarkan oleh asuransi kesehatan. Infomasi terkait dengan data _medical insurance cost_ adalah sebagai berikut,

1. Age: Usia penerima manfaat
2. Sex: Gender penerima manfaat (_male_, _femele_)
3. Bmi : Body Mass Index
4. Children: Jumlah anak/tanggungan yang dicover oleh pihak asuransi
5. Smoker: Status perokok (_yes_, _no_)
6. Region: Wilayah tempat tinggal penerima manfaat
7. Charges: Biaya yang dikeluarkan oleh asuransi

In [1]:
# Selayang pandang data Medical Insurance Costs
import pandas as pd

df = pd.read_csv('data/insurance.csv')

display(df.head())

display(df.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

### Tantangan

Buatlah model regresi untuk memprediksi biaya yang harus dikeluarkan oleh pihak asuransi berdasarkan data. Validasi performa model regresi Anda dengan nilai ***R-squared ($R^2$)***

#### _Tasks_

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)
2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai ***Variance Inflation Factor (VIF)*** untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.
5. Evaluasi model yang Anda buat dengan nilai $R^2$
6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus _medical insurance costs_?

#### (Hints) Interpretasi Nilai VIF

- 1 - variabel indenpenden tidak memiliki korelasi dengan variabel independen yang lain
- 1 < VIF < 5 - variabel independen sedikit memiliki korelasi dengan variabel independen yang lain
- VIF > 5 - variabel independen memiliki korelasi yang kuat dengan variabel independen lainnya
- VIF > 10 - variabel independen miliki korelasi yang sangat kuat dengan variabel independen dan perlu diperhatikan lebih lanjut

#### (Hints) Implementasi Perhitungan VIF

VIF dapat dihitung secara langsung dengan menggunakan library dari `statsmodels`

#### (Hints) Scatterplot Korelasi Antar Variabel

![var_cor](assets/var_corr.png)

In [2]:
# Import Library

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
# Menampilkan tabel

tabel = pd.read_csv('data/insurance.csv')
# Head untuk data 5 teratas dan corr untuk korelasi antar atribut
display(tabel.head())

display(tabel.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [4]:
# SOAL 1

new_sex = {
    'male': 1,
    'female': 0
}

new_smoker ={
    'yes' : 1,
    'no' : 0
}

new_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

# Untuk encode label baru
# mapping berfungsi untuk mengubah variabel kategorial ke angka supaya bisa dikenali python
tabel['sex'] = tabel['sex'].map(new_sex)
tabel['smoker'] = tabel['smoker'].map(new_smoker)
tabel['region'] = tabel['region'].map(new_region)


# Menampilkan tabel dengan urutan teratas dan jumlahnya 5 karena di head tidak di definisikan nilainya
tabel.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [8]:
# SOAL 2, 3, 4
# Dengan fitur VIF dapat mengetahui tingkat multicollinearity
# setalah dilakukan VIF, yang tidak memiliki nilai multicollinearity yang tinggi yaitu sex, children, smoker, region


from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# set variabel independen
new_table = tabel[['age', 'sex' ,'bmi' ,'children', 'smoker', 'region']]
  
# VIF dataframe
vif = pd.DataFrame()
vif["feature"] = new_table.columns
  
# menghitung VIF untuk setiap dataframe
vif["VIF"] = [variance_inflation_factor(new_table.values, i)
                          for i in range(len(new_table.columns))]
  
print(vif)

    feature       VIF
0       age  7.588734
1       sex  2.002652
2       bmi  9.938670
3  children  1.799980
4    smoker  1.261195
5    region  2.789478

In [9]:
# Peng-copyan tabel/dataframe sebelum dilakukan penghapusan age dan bmi
tabel_baru = tabel.copy()
tabel_baru.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [10]:
# Hapus bmi dan age
tabel_baru = tabel_baru.drop(columns=['age', 'bmi'])
tabel_baru.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

In [11]:
# SOAL 5

# Fitur r_square untuk menentukan akurasi dari variabel independen

# x untuk data kolom dan y untuk kolom terakhir
X = tabel_baru.iloc[:, :-1].values
y = tabel_baru.iloc[:, 4].values

In [12]:
# 4 variabel digunakan untuk melakukan train_test_split 
# Dengan parameter x,  y, test_size 0.2, dan random_state 40

xm_train, xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=60)

In [13]:
# Mengganti bentuk y menjadi 2 dimensi

y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [14]:
# Kemudian dilakukan fit pada xm_train dan ym_train
# dan di predict dengan xm_test

mlr = LinearRegression()
mlr.fit(xm_train, ym_train)

ym_pred = mlr.predict(xm_test)

In [15]:
# Proses penggabungan

gabung = np.concatenate((ym_test, ym_pred))
gabung

array([ 5373.36425   , 10338.9316    ,  2709.1119    , 44260.7499    ,
       10560.4917    , 12644.589     ,  6311.952     , 11520.09985   ,
        8410.04685   , 29523.1656    , 19107.7796    , 38711.        ,
       12269.68865   , 18804.7524    ,  8062.764     , 12949.1554    ,
       28868.6639    , 11305.93455   ,  1615.7667    , 10269.46      ,
        5266.3656    ,  7147.105     ,  2459.7201    ,  7640.3092    ,
       12224.35085   ,  9377.9047    , 22218.1149    , 10264.4421    ,
       11436.73815   , 30063.58055   , 11657.7189    , 13770.0979    ,
        2473.3341    ,  5124.1887    ,  9991.03765   , 48173.361     ,
        3943.5954    ,  2154.361     ,  8017.06115   ,  1728.897     ,
       12146.971     , 28340.18885   ,  2331.519     , 23045.56616   ,
        9361.3268    ,  6402.29135   , 26125.67477   , 29186.48236   ,
       12622.1795    ,  6128.79745   ,  4922.9159    ,  4877.98105   ,
        4618.0799    ,  9715.841     , 13063.883     , 12523.6048    ,
        5846.9176    ,  9625.92      ,  4349.462     ,  2352.96845   ,
        8026.6666    ,  8334.45755   , 14474.675     , 32108.66282   ,
        5458.04645   , 22395.74424   ,  1256.299     , 30259.99556   ,
        8596.8278    , 28287.89766   , 11187.6567    ,  7209.4918    ,
        2731.9122    , 21984.47061   , 14418.2804    , 17128.42608   ,
        4571.41305   , 37133.8982    , 34672.1472    ,  8968.33      ,
       10231.4999    , 18310.742     , 27375.90478   ,  6289.7549    ,
       28468.91901   ,  6664.68595   ,  7201.70085   , 22478.6       ,
        9964.06      ,  2710.82855   ,  3558.62025   , 39125.33225   ,
        4906.40965   ,  3227.1211    ,  7441.053     ,  1241.565     ,
       14235.072     ,  9541.69555   ,  4433.9159    ,  9283.562     ,
       21659.9301    , 37829.7242    ,  7348.142     , 11848.141     ,
       18765.87545   , 18963.17192   , 27808.7251    ,  1880.487     ,
        5920.1041    , 11082.5772    ,  1635.73365   ,  6593.5083    ,
       13635.6379    ,  9411.005     ,  8601.3293    ,  6770.1925    ,
        1731.677     ,  6610.1097    ,  1837.237     , 38746.3551    ,
       40974.1649    , 36021.0112    , 15230.32405   ,  2721.3208    ,
       11944.59435   ,  6837.3687    , 14254.6082    , 10085.846     ,
        2438.0552    , 12648.7034    , 17352.6803    , 36910.60803   ,
       12797.20962   ,  1711.0268    , 36085.219     ,  7077.1894    ,
        8605.3615    , 30184.9367    ,  1875.344     ,  8538.28845   ,
        9800.8882    , 10381.4787    ,  3857.75925   , 17929.30337   ,
        4433.3877    , 39241.442     ,  5272.1758    , 21259.37795   ,
       16232.847     ,  5116.5004    ,  5649.715     , 14313.8463    ,
        3309.7926    ,  3645.0894    ,  3277.161     , 15359.1045    ,
       13470.8044    ,  3554.203     , 11840.77505   ,  7281.5056    ,
        5974.3847    ,  8342.90875   ,  3693.428     ,  9630.397     ,
       12730.9996    ,  2203.73595   ,  2730.10785   , 15019.76005   ,
        8527.532     ,  5989.52365   , 39727.614     ,  5478.0368    ,
        6406.4107    , 40720.55105   ,  6203.90175   , 20984.0936    ,
       11394.06555   ,  9880.068     ,  1261.859     ,  6457.8434    ,
        7804.1605    ,  2136.88225   ,  3861.20965   ,  4357.04365   ,
       43813.8661    , 13844.506     ,  6184.2994    ,  5926.846     ,
        3577.999     ,  9288.0267    , 11945.1327    , 27322.73386   ,
        2150.469     ,  3366.6697    , 24476.47851   , 18903.49141   ,
        3987.926     , 19350.3689    ,  1627.28245   ,  7152.6714    ,
        6571.544     , 38126.2465    , 42112.2356    ,  7729.64575   ,
       21348.706     ,  3484.331     ,  8124.4084    ,  2497.0383    ,
        2775.19215   ,  3556.9223    , 23887.6627    ,  8835.26495   ,
       28476.73499   ,  3989.841     ,  7731.4271    ,  8444.474     ,
       48517.56315   , 44501.3982    , 35585.576     ,  1632.56445   ,
       13129.60345   , 16455.70785   , 41661.602     ,  1981.5819    ,
       23241.47453   ,  9487.6442    , 12815.44495   ,  6059.173     ,
        3077.0955    ,  8603.8234    ,  5383.536     ,  9620.3307    ,
       13405.3903    , 15006.57945   , 12044.342     ,  6123.5688    ,
       21472.4788    ,  2020.177     , 46718.16325   , 12925.886     ,
        2198.18985   , 18223.4512    ,  9101.798     ,  7256.7231    ,
        5400.9805    , 37079.372     ,  4719.52405   ,  5253.524     ,
       18259.216     , 13204.28565   , 10422.91665   ,  8269.044     ,
        6796.86325   ,  5976.8311    , 21771.3423    , 18608.262     ,
       47896.79135   , 12485.8009    , 26018.95052   ,  8083.9198    ,
       27724.28875   , 17081.08      ,  5662.225     ,  6198.7518    ,
        1121.8739    ,  7512.267     ,  8310.83915   , 10825.2537    ,
        7854.72933672,  7778.29794266,  8163.09952423, 32932.61695994,
        9291.66378874,  7667.07606118,  8881.56675024,  9676.46537031,
        9069.22002578, 32137.71833987, 32633.74180292, 32821.39507846,
        8770.34486876,  9377.59021329,  7965.9512182 ,  9898.90913327,
       32102.92785245,  8163.09952423,  7778.29794266,  9069.22002578,
        7555.8541797 ,  7358.70587367,  7889.51982414,  8992.78863172,
        7555.8541797 ,  8077.17309968, 32325.37161541,  9069.22002578,
        9377.59021329,  9069.22002578,  7889.51982414,  7247.48399219,
        7778.29794266,  8684.41844421,  7555.8541797 , 31606.9043894 ,
        7889.51982414,  7667.07606118,  8770.34486876,  7667.07606118,
        7358.70587367,  8163.09952423,  8274.32140571,  7889.51982414,
        7581.14963662,  9104.0105132 , 32026.49645839,  9104.0105132 ,
        7555.8541797 ,  9377.59021329,  8770.34486876,  9676.46537031,
        9377.59021329,  9104.0105132 ,  7667.07606118,  7247.48399219,
        8992.78863172,  7667.07606118,  8992.78863172,  7247.48399219,
        7555.8541797 ,  8188.39498116,  8385.54328719,  8795.64032569,
        7889.51982414,  9104.0105132 ,  7358.70587367,  7581.14963662,
       10814.52466531,  8385.54328719,  8770.34486876,  8770.34486876,
        7889.51982414,  7247.48399219,  8077.17309968, 10010.13101475,
        7555.8541797 , 32026.49645839, 31718.12627088,  8573.19656273,
        7247.48399219, 31495.68250792,  8795.64032569,  8077.17309968,
        7854.72933672,  7854.72933672,  8770.34486876, 33129.76526597,
        8188.39498116,  8163.09952423,  7889.51982414, 32436.59349689,
        8770.34486876,  8385.54328719,  7965.9512182 ,  7358.70587367,
        8881.56675024,  7889.51982414,  8461.97468125,  7778.29794266,
       33959.45437346, 31606.9043894 ,  7667.07606118,  7667.07606118,
       33625.78872902,  8077.17309968, 32026.49645839,  7667.07606118,
        7778.29794266,  7555.8541797 ,  7247.48399219,  8684.41844421,
        7889.51982414,  9104.0105132 ,  7778.29794266,  8385.54328719,
        7667.07606118,  8188.39498116,  7965.9512182 , 33317.41854151,
       32026.49645839, 33240.98714745,  9104.0105132 ,  7581.14963662,
        7581.14963662,  7581.14963662,  7555.8541797 ,  7965.9512182 ,
        8077.17309968,  7778.29794266, 31495.68250792,  8881.56675024,
        7889.51982414,  8077.17309968, 32821.39507846,  8496.76516867,
        9291.66378874, 33651.08418595,  7667.07606118,  9711.25585773,
        8992.78863172,  9600.03397625,  7581.14963662,  7778.29794266,
        8461.97468125, 32821.39507846,  7555.8541797 , 33043.83884142,
       31606.9043894 ,  7854.72933672,  7667.07606118,  7778.29794266,
        8188.39498116,  7581.14963662,  7965.9512182 , 32744.9636844 ,
        7778.29794266,  7667.07606118,  7555.8541797 ,  9377.59021329,
        8385.54328719,  8188.39498116,  8573.19656273,  8573.19656273,
        7581.14963662,  7889.51982414,  8163.09952423,  8770.34486876,
        8992.78863172,  8770.34486876, 31606.9043894 ,  8385.54328719,
        8795.64032569, 33317.41854151,  8461.97468125, 33043.83884142,
        8188.39498116,  8274.32140571,  7358.70587367,  8461.97468125,
        7469.92775515,  7555.8541797 ,  9402.88567022,  7555.8541797 ,
       32932.61695994, 31915.27457691,  9600.03397625,  9180.44190726,
        8274.32140571,  8188.39498116,  7854.72933672,  9600.03397625,
        7667.07606118,  7778.29794266,  7247.48399219,  8496.76516867,
        8881.56675024, 31718.12627088,  7247.48399219,  8077.17309968,
        8881.56675024, 31718.12627088, 32932.61695994,  8795.64032569,
       31804.05269543,  8573.19656273,  7469.92775515,  7469.92775515,
        7854.72933672,  7555.8541797 , 32411.29803996,  7247.48399219,
        8163.09952423,  7667.07606118,  8684.41844421,  7358.70587367,
       32744.9636844 , 32325.37161541, 31606.9043894 ,  7247.48399219,
        7581.14963662,  9377.59021329, 32522.51992144,  7469.92775515,
        8795.64032569,  7469.92775515,  7889.51982414,  9787.68725179,
        8461.97468125,  8795.64032569,  7667.07606118,  9069.22002578,
        7469.92775515, 33352.20902893,  8163.09952423,  7854.72933672,
       33924.66388604,  7667.07606118, 33317.41854151,  8684.41844421,
        7889.51982414, 33848.23249198,  9488.81209477,  8461.97468125,
        7778.29794266, 31915.27457691,  8496.76516867,  9180.44190726,
       33428.64042299,  7889.51982414,  7581.14963662,  7667.07606118,
        9069.22002578,  8385.54328719, 32744.9636844 , 33129.76526597,
       32744.9636844 ,  9600.03397625,  8770.34486876,  8077.17309968,
        8077.17309968, 31915.27457691,  7778.29794266,  8461.97468125,
        7469.92775515,  9787.68725179,  8770.34486876,  7854.72933672])

In [16]:
# Prediksi menggunakan r2_score

r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.5223291105621384

In [17]:
# SOAL 6

# Pengecekan akurasi menggunakan semua kolom

# x untuk data kolom dan y untuk kolom terakhir
X2 = tabel.iloc[:, :-1].values
y2 = tabel.iloc[:, 6].values

In [18]:
# 4 variabel digunakan untuk melakukan train_test_split 
# Dengan parameter x,  y, test_size 0.2, dan random_state 40

xm_train2, xm_test2, ym_train2, ym_test2 = train_test_split(X2, y2, test_size=0.2, random_state=50)

In [19]:
# Mengganti bentuk y menjadi 2 dimensi

y2 = y2.reshape(len(y), 1)
y2.shape

(1338, 1)

In [20]:
# Kemudian dilakukan fit pada xm_train dan ym_train
# dan di predict dengan xm_test

mlr2 = LinearRegression()
mlr2.fit(xm_train2, ym_train2)

ym_pred2 = mlr2.predict(xm_test2)

In [21]:
# Proses penggabungan

gabung2 = np.concatenate((ym_test2, ym_pred2))
gabung2

array([ 5.97683110e+03,  5.84691760e+03,  1.38311152e+04,  9.62592000e+03,
        2.68094930e+03,  4.78967913e+04,  1.82234512e+04,  7.41947790e+03,
        3.73262510e+03,  1.22228983e+04,  7.05002130e+03,  2.19786769e+04,
        6.28223500e+03,  3.77018768e+04,  7.04672220e+03,  1.20323260e+04,
        1.31126048e+04,  4.23989265e+03,  1.23338280e+04,  3.41032400e+03,
        1.72778500e+03,  4.46411974e+04,  1.71284261e+04,  6.11235295e+03,
        4.52947700e+03,  1.05945016e+04,  6.40229135e+03,  4.61511245e+04,
        1.71102680e+03,  1.70470015e+03,  4.58632050e+04,  4.68779700e+03,
        1.50197601e+04,  3.18051010e+03,  3.86120965e+03,  3.44306400e+03,
        2.71179938e+04,  2.70924395e+03,  1.34511220e+04,  4.79280300e+04,
        2.35630162e+04,  6.71019190e+03,  1.42350720e+04,  1.40011338e+04,
        2.72184372e+04,  1.33905590e+04,  4.10342214e+04,  2.02017700e+03,
        1.42561928e+04,  2.12321823e+04,  4.86755177e+04,  6.98669700e+03,
        4.14973600e+03,  3.09421918e+04,  8.02313545e+03,  4.21245153e+04,
        1.18371600e+04,  6.64054485e+03,  6.66624300e+03,  1.08481343e+04,
        1.43943982e+04,  7.20170085e+03,  1.97781500e+03,  1.63573365e+03,
        7.25672310e+03,  8.53828845e+03,  3.85775925e+03,  9.88006800e+03,
        4.88386600e+03,  2.17970004e+04,  1.38809490e+04,  4.77960230e+03,
        3.48186800e+03,  5.39761670e+03,  9.58389330e+03,  1.70810800e+04,
        6.60036100e+03,  9.71584100e+03,  2.43936224e+04,  1.63182120e+03,
        2.85068375e+03,  1.82464955e+04,  2.45750200e+03,  1.29287911e+04,
        1.96702270e+03,  2.64326850e+03,  1.19871682e+04,  4.87798105e+03,
        3.04606200e+03,  4.54423480e+03,  3.73646470e+03,  8.59682780e+03,
        3.75662160e+03,  3.60210112e+04,  2.45202640e+04,  1.13059345e+04,
        7.51226700e+03,  1.20944780e+04,  1.62978460e+04,  2.32889284e+04,
        2.46716633e+04,  2.20109710e+03,  4.39211837e+04,  1.43827090e+04,
        1.71795220e+04,  8.54769130e+03,  3.87091760e+04,  9.95772160e+03,
        9.91035985e+03,  5.64971500e+03,  5.48826200e+03,  8.98815875e+03,
        1.82684300e+03,  1.83728190e+03,  1.63956310e+03,  4.93470500e+03,
        5.42502335e+03,  2.89231369e+04,  1.42105359e+04,  2.41069126e+04,
        1.52631200e+03,  5.32740025e+03,  1.13639940e+03,  1.62543375e+03,
        1.18819696e+04,  4.53625900e+03,  7.28150560e+03,  8.83526495e+03,
        8.06276400e+03,  3.59148000e+03,  4.86735588e+04,  1.12891092e+04,
        4.62009851e+04,  2.42273372e+04,  2.02348547e+04,  2.48698368e+04,
        2.00096336e+04,  6.55507035e+03,  8.27752300e+03,  4.57141305e+03,
        1.26221795e+04,  4.18509790e+03,  5.31216985e+03,  1.88047524e+04,
        6.74859120e+03,  7.16201220e+03,  5.24522690e+03,  8.51575870e+03,
        6.85847960e+03,  4.34946200e+03,  4.09741649e+04,  4.43391590e+03,
        1.98007000e+03,  5.11945591e+04,  2.02697410e+03,  2.73460421e+04,
        1.31266774e+04,  2.04629977e+04,  2.02968635e+04,  1.22445310e+04,
        7.74033700e+03,  9.77834720e+03,  5.58430570e+03,  1.09593300e+04,
        2.72132080e+03,  5.00385300e+03,  6.79686325e+03,  1.76953165e+03,
        2.13487060e+04,  1.62218850e+03,  4.88851356e+04,  2.24936596e+04,
        1.26298967e+04,  7.33774800e+03,  3.99834259e+04,  1.39152870e+03,
        4.10971617e+04,  7.68267000e+03,  3.71651638e+04,  9.56302900e+03,
        1.02146360e+04,  1.26462070e+04,  5.69983750e+03,  1.10137119e+04,
        1.94423535e+04,  4.44238030e+04,  4.27605022e+04,  9.30189355e+03,
        3.98365190e+04,  1.01567832e+04,  4.43338770e+03,  3.77425757e+04,
        8.78246900e+03,  1.15124050e+04,  2.55171136e+04,  1.08068390e+04,
        3.97742763e+04,  5.38533790e+03,  2.12843105e+03,  3.72701512e+04,
        3.33075508e+04,  1.29571180e+04,  7.72725320e+03,  1.18564115e+04,
        5.72900530e+03,  1.58206990e+04,  9.44738240e+03,  1.26381950e+04,
        4.42607499e+04,  1.09772063e+04,  1.91077796e+04,  1.49884320e+04,
        9.63039700e+03,  4.72698540e+04,  1.30638830e+04,  1.82428540e+03,
        1.17630009e+04,  9.86102500e+03,  3.69502567e+04,  2.10308000e+03,
        2.19818985e+03,  3.84154740e+04,  8.62754110e+03,  4.23712655e+03,
        4.44121315e+03,  9.87270100e+03,  3.21086628e+04,  2.08787844e+04,
        2.69956835e+03,  7.73185785e+03,  2.10821600e+04,  2.73010785e+03,
        1.13267149e+04,  3.92575820e+03,  3.82827495e+04,  1.22358392e+04,
        1.01150089e+04,  8.93208400e+03,  1.40012867e+04,  3.55955898e+04,
        1.52303240e+04,  6.05917300e+03,  2.16673200e+03,  8.94411510e+03,
        4.05811610e+03,  1.23239360e+04,  3.37326867e+04,  5.37503800e+03,
        1.97295000e+03,  1.07044700e+04,  1.18426238e+04,  3.86685520e+03,
        6.12879745e+03,  1.10705350e+04,  1.05604917e+04,  1.19382560e+04,
        1.27411675e+04,  1.17296795e+04,  2.36222905e+03,  9.50057305e+03,
        6.18429940e+03,  1.38879685e+04,  1.32246930e+04,  3.39236520e+03,
        4.93164700e+03,  9.72453000e+03,  3.65802822e+04,  3.71338982e+04,
        8.02669491e+03,  1.16938407e+04,  1.71786170e+04,  1.13687219e+04,
        4.67609884e+02,  3.87045302e+04,  2.62413412e+04,  7.89114229e+03,
        7.64340489e+02,  1.16795655e+04,  9.23505349e+03,  3.20389021e+04,
        8.15323277e+03,  3.08375213e+04,  7.61558919e+03,  9.55980129e+03,
        1.16167569e+04,  4.77694453e+03,  1.23046130e+04,  8.74838942e+03,
       -1.22879102e+03,  3.65374536e+04,  6.53621123e+03,  8.97898395e+03,
        4.31574332e+03,  1.09692130e+04,  5.35105861e+03,  3.79991539e+04,
        5.29104947e+02, -3.93428374e+01,  3.72628449e+04,  4.33743188e+03,
        1.46054920e+04,  1.36853647e+03,  1.11298477e+03,  6.09495004e+03,
        9.30224165e+03,  1.41540873e+03,  1.19443733e+04,  3.91617990e+04,
        9.68824527e+03,  6.78513321e+03,  1.70073442e+04,  1.32724110e+04,
        3.52055455e+04,  1.39302242e+04,  3.39789701e+04,  4.58596872e+03,
        1.26466707e+04,  9.74933525e+03,  3.98559896e+04,  9.49978725e+03,
        6.60275122e+03,  3.79738009e+04,  1.16535772e+04,  3.52230801e+04,
        1.09937604e+04,  3.91030773e+03,  1.21456900e+04,  1.37684916e+04,
        1.34694008e+04,  7.45548672e+03,  3.57174222e+03,  1.90502761e+03,
        9.21297345e+03,  1.03640638e+04,  5.71671612e+03,  1.41684121e+04,
        5.73379540e+03,  1.50016528e+04,  1.43462428e+04,  5.99485843e+03,
        3.56420413e+03,  9.82013498e+03,  1.22304916e+04,  2.55880331e+04,
        8.67812632e+03,  9.38294791e+03,  3.36182301e+04,  4.92489598e+03,
        3.93267720e+03,  2.77207188e+04,  1.55499215e+03,  1.40274229e+04,
        1.99830658e+03,  4.20672752e+03,  1.41047497e+04,  4.78877623e+03,
        2.69197734e+03,  2.79864120e+03,  3.96932743e+03,  1.11502443e+04,
        4.25781375e+03,  2.88154796e+04,  3.36546406e+04,  1.12466428e+04,
        9.19150387e+03,  1.05772988e+04,  2.52983921e+04,  3.41623227e+03,
        5.88257017e+03,  8.72456429e+02,  3.66130005e+04,  1.30753592e+04,
        2.84923035e+04,  9.89070254e+03,  3.23440392e+04,  1.02260455e+04,
        1.10132228e+04,  8.57937692e+03,  8.08795831e+03,  1.02689374e+04,
        4.92960613e+03,  7.23895007e+03,  2.77545328e+03,  5.20177692e+03,
        7.25934832e+03,  1.17662608e+04,  1.64918520e+04,  3.29496410e+04,
        3.38009016e+03,  7.46888157e+03,  3.36516016e+03, -4.36117309e+02,
        1.25923883e+04,  1.08338901e+04,  7.82961165e+03,  1.11426655e+04,
        1.07797392e+04,  5.68491809e+03,  3.98032430e+04,  1.31220711e+04,
        3.76480758e+04,  1.62097890e+04,  2.96197505e+04,  3.37599910e+04,
        2.96370016e+04,  6.88119140e+03,  9.62824908e+03,  5.19323182e+03,
        1.32536617e+04,  4.31291467e+03,  5.09833779e+03,  6.13551855e+03,
        7.64607665e+03,  1.14217040e+04,  8.37846651e+03,  9.32805357e+03,
        6.49095427e+03,  6.65282700e+03,  3.43943902e+04,  6.65180339e+03,
        4.15773890e+03,  3.07589640e+04,  6.06753943e+03,  1.15060939e+04,
        3.00763925e+03,  1.50185694e+04,  2.95868891e+04,  1.43432553e+04,
        1.19667246e+04,  1.07796890e+04,  9.03215556e+03,  1.01663194e+04,
        2.72529442e+03,  6.06842734e+03,  8.72002142e+03,  2.75877159e+03,
        3.09436831e+04,  2.73540417e+03,  3.49445113e+04,  2.58655069e+03,
        1.12255834e+04,  9.10774659e+03,  3.28331066e+04,  3.76779947e+03,
        3.43318330e+04,  1.01250375e+04,  2.95603179e+04,  1.25266887e+04,
        1.16182713e+04,  1.56460042e+04,  9.15976575e+03,  9.35429467e+03,
        7.04199421e+03,  3.68288660e+04,  3.55870975e+04,  9.38028248e+03,
        3.30653875e+04,  8.99950643e+03,  6.53174468e+03,  3.16699567e+04,
        9.18272175e+03,  1.25271759e+04,  1.02660445e+04,  1.28938154e+04,
        3.24916310e+04,  5.78744377e+03,  2.84551322e+03,  3.08068908e+04,
        2.61948521e+04,  1.07069003e+04,  1.06497598e+04,  1.53061892e+04,
        9.01291684e+03,  2.74600204e+04,  9.44571018e+03,  1.31751644e+04,
        3.70241676e+04,  1.55129423e+04,  2.83762076e+04,  1.34023770e+04,
        1.19708960e+04,  3.89152816e+04,  1.76938586e+04,  4.28487383e+03,
        1.28739728e+04,  9.83997953e+03,  3.04967926e+04,  1.03058868e+03,
        1.08123084e+03,  3.22695409e+04,  6.51092281e+03,  4.87357222e+03,
        4.88690520e+03,  1.24939090e+04,  9.51300646e+03,  1.06523789e+04,
        4.69967954e+03,  1.11160459e+04,  3.09877723e+04,  6.15772793e+03,
        1.03780289e+04,  5.56792066e+03,  3.17574571e+04,  1.46210039e+04,
        1.23150698e+04,  9.09253475e+03,  1.33071649e+04,  2.84367733e+04,
        1.68164802e+04,  7.60761261e+03,  5.28174071e+03,  1.49862953e+04,
        8.16160248e+03,  1.08623735e+04,  2.61914052e+04,  7.95188002e+03,
        2.46593828e+03,  1.19079123e+04,  1.28968343e+04,  5.53004440e+03,
        8.27319627e+03,  1.05184540e+04,  1.29171789e+04,  1.23797891e+04,
        1.49877174e+04,  1.00032100e+04,  4.02998816e+03,  8.88994958e+03,
        7.42270453e+03,  1.58783645e+04,  1.30372708e+04,  4.60299778e+03,
        4.50670015e+03,  1.13835089e+04,  1.59825632e+04,  3.00102852e+04])

In [22]:
# Prediksi menggunakan r2_score

r2_mlr2 = r2_score(ym_test2, ym_pred2)
print(r2_mlr2)

0.7835627749480735